section.section.all-customers
  .section__container.all-customers__search
    div
      h3.title.title--size-semi-medium.all-customers__title All Customers
      p.all-customers__status Active Members
    form.all-customers__search-form.search__form(action="", method="get")
      svg.search__icon(width=24, height=24)
        use(href=require("@/assets/icons.svg#icon-search"))
      input.search__input(type="text", name="search", placeholder="Search")
  .all-customers__table.data-table__container
    table.data-table
      thead
        tr
          //- This sizes should calculate automatically
          th(style="width:21.7%") Customer Name
          th(style="width:13.5%") Company
          th(style="width:16.1%") Phone Number
          th(style="width:21.4%") Email
          th(style="width:14.5%") Country
          th Status
      tbody
        each customer in customers
          tr
            td
              .data-table__cell #{customer.name}
            td
              .data-table__cell #{customer.company}
            td
              .data-table__cell #{customer.phone}
            td
              .data-table__cell #{customer.email}
            td
              .data-table__cell #{customer.country}
            td
              .data-table__cell
                div(class=`badge badge--color-${customer.status}`)
                  //- These operations should be in js, for simplicity I used them here
                  |#{customer.status[0].toUpperCase() + customer.status.slice(1)}
  .section__container
    include components/pagination.pug